In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('/content/salary.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [12]:
x=df.iloc[:,[0,12]]
y=df.iloc[:,14]

In [6]:
x.head()

   age  hours-per-week
0   39              40
1   50              13
2   38              40
3   53              40
4   28              40

In [13]:
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: salary, dtype: object

In [16]:
y=pd.get_dummies(df["salary"])

In [17]:
y.head()

    <=50K   >50K
0       1      0
1       1      0
2       1      0
3       1      0
4       1      0

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

**Decision Tree Classifier**

In [19]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc=dtc.fit(x_train,y_train)

In [20]:
y_pred=dtc.predict(x_test)

In [21]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.760325502840473

**Bagging Classifiers**

In [23]:
from sklearn.ensemble import BaggingClassifier
tree=DecisionTreeClassifier()
bcf=BaggingClassifier(base_estimator=tree,n_estimators=100,random_state=20)
bcf.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=100,
                  random_state=20)

In [24]:
y_pred=bcf.predict(x_test)

In [26]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7594042683863043

**Random Forest Classifiers**

In [27]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(random_state=20,n_estimators=100)
rfc=rfc.fit(x_train,y_train)

In [28]:
y_pred=rfc.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7580224167050514

**Ada Boost Classifier**

In [29]:
from sklearn.ensemble import AdaBoostClassifier
abc=AdaBoostClassifier(n_estimators=100)
abc=abc.fit(x_train,y_train)

In [30]:
y_pred=abc.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.760325502840473